.aboutpage{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutcontainer{
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgba(252, 255, 255, 0.851);
    padding-top: 20px;
    opacity:0;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@media(max-width:780px){
    .aboutpage{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    }

    .aboutcontainer{
    padding-left: 30px;
    padding-right: 30px;
}
}

@keyframes slideIn {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}