body{
    height: 100%;
    width: 100%;
}

.formcontainer{
    padding:60px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 12px black;
}

.addlistingcontainer{
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.form{
    margin-top: 40px;
}


input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
  }