.container3{
    margin-bottom: 70px;
    margin-top:50px;
    padding-bottom:80px;
    padding-left: 120px;
    padding-right: 120px;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 30px;
    margin-bottom: 60px;
}

.add{
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    margin-top: -18px;
}

.formcontainer{
    padding:60px;
}

.form{
    margin-top: 30px;
}

.modal, .overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.modal{
    z-index: 10;
}

.addrooms{
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.658);
}

.addroomdetails{
    padding-left: 18px;
    padding-right: 18px;
}

.formcontainer{
    background-color: white;
    z-index: 2;
}

.contentmodal{
    margin-top: 30px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.452);
}

.listings{
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
}

a:visited{
    color:white;
}

ul:hover{
    color: silver;
}

.remove{
    margin-left: 325px;
}

@media(max-width:780px){
    .container3{
    padding-left: 14px;
    padding-right: 14px;
    grid-template-rows: none;
    grid-template-columns: 1fr;
    }

    .remove{
        margin-left: 278px;
    }
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 68px);
  width: 100%;
  background-color: rgb(244, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
  z-index: 15;
}

.leap-frog {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(244, 240, 240);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
 --uib-size: 80px;
 --uib-speed: 2s;
 --uib-color: rgb(26, 26, 42);
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: var(--uib-size);
 height: var(--uib-size);
}

.leap-frog__dot {
 position: absolute;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 100%;
 height: 100%;
}

.leap-frog__dot::before {
 content: '';
 display: block;
 height: calc(var(--uib-size) * 0.22);
 width: calc(var(--uib-size) * 0.22);
 border-radius: 50%;
 background-color: var(--uib-color);
 will-change: transform;
}

.leap-frog__dot:nth-child(1) {
 animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
 transform: translateX(calc(var(--uib-size) * 0.4));
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
 transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3)
    infinite;
}

@keyframes leapFrog {
 0% {
  transform: translateX(0) rotate(0deg);
 }

 33.333% {
  transform: translateX(0) rotate(180deg);
 }

 66.666% {
  transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
 }

 99.999% {
  transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
 }

 100% {
  transform: translateX(0) rotate(0deg);
 }
}

@media(max-width:1300px){
    .container3{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width:900px){
    .container3{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }
}

@import "tailwindcss";