.container3{
    margin-bottom: 70px;
    margin-top:50px;
    padding-bottom:80px;
    padding-left: 120px;
    padding-right: 120px;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 30px;
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    margin-bottom: 60px;
}

.add{
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    margin-top: -18px;
}

.formcontainer{
    padding:60px;
}

.form{
    margin-top: 30px;
}

.modal, .overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.modal{
    z-index: 10;
}

.addrooms{
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.658);
}

.addroomdetails{
    padding-left: 18px;
    padding-right: 18px;
}

.formcontainer{
    background-color: white;
    z-index: 2;
}

.contentmodal{
    margin-top: 30px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.452);
}

.listings{
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

a{
    text-decoration: none;
}

a:visited{
    color:white;
}

ul:hover{
    color: silver;
}

.remove{
    margin-left: 325px;
}

@media(max-width:780px){
    .container3{
    padding-left: 14px;
    padding-right: 14px;
    grid-template-rows: none;
    grid-template-columns: 1fr;
    }

    .remove{
        margin-left: 278px;
    }
}

@media(max-width:1300px){
    .container3{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width:900px){
    .container3{
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
    }
}

@import "tailwindcss";