body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

nav{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.divider{
  display: block;
  margin: auto;
}

.landingcontainer{
  opacity:0;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  margin-top: 50px;
}


.second{
  padding: 80px;
  padding-top:150px;
}

.findrooms, .listrooms, .easydeal{
  background-color: rgba(248, 244, 244, 0.9);
  padding:30px;
}

.services{
  margin-top: 50px;
}

.padder{
  padding-left: 180px;
  padding-right: 180px;
}

.textlogo{
  text-shadow: #ababab 3px 3px 6px;
  color: #1E2939;
}

.logoimg{
  margin-top: 80px;
  height: 170px;
  width: 170px;
  filter:drop-shadow(5px 5px 40px rgb(255, 255, 255));
}

.firstlogo{
  filter:drop-shadow(5px 5px 40px rgb(255, 255, 255));
}

.findrooms{
  margin-top: -50px;
}

.heading{
  width: 100%;
  height:180px;
  display: flex;
  align-items: center;
  opacity: 0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.explore{
  opacity:0;
  animation-name: slideIn;
  animation-duration: 1.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}


.explore:hover{
  font-size: 28px; 
}

a{
  text-decoration: none;
  color:white;
}

a:visited{
  color:white;
}

ul:hover{
  color: silver;
}

.login:hover{
  color:silver;
}

.homeicon{
  margin-left: 25px;
}

.about{
  margin-right: 25px;
  font-weight: 500;
  font-size: 19px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 6px;
}

.homebtn{
  cursor: pointer;
}

.buttonn {
  position: relative;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgb(52, 52, 57);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:6px;
  margin-top: 15px;
}

.buttonn:active {
  transform: scale(0.96);
}

.buttonn:before,
.buttonn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.buttonn:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, rgba(62, 69, 75, 0.902) 20%, transparent 30%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, rgba(62, 69, 75, 0.902) 15%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

.roomimg{
  box-shadow: 8px 8px 3px #1E2939;
  object-fit: cover;
}


.searchh {
  opacity:0;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  text-align: center;
}

.search__input {
  background-color: rgba(255, 255, 255, 0.737);
  box-shadow: 1px 1px 1px black;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #76767689;
  color: #767676;
  padding: 5px 10px;
  margin-right: -1.5rem;
  height: 40px;
  width: 380px;
  border-radius: 40px;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  color: #686767;
  font-size: 15px;
}

.search__button {
  transform: translate(-5px);
  border:none;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search input:focus {
  outline: none;
}


@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, rgba(62, 69, 75, 0.902) 15%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle,rgba(62, 69, 75, 0.902) 20%, transparent 20%),
    radial-gradient(circle, rgba(62, 69, 75, 0.902) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


@media(max-width:1200px){
  .second{
    padding: 30px;
    padding-top:60px;
    padding-bottom:60px;
  }

  .services{
    margin-top: 60px;
  }
  .divider{
    margin-top: 40px;
  }
}


@media(max-width:1500px){
  .roomimg{
    height: 400px;
  }
  .padder{
    padding-left: 100px;
    padding-right: 100px;
  }
  
}

@media(max-width:780px){
  .roomimg{
    margin-top: 40px;
  }
  
  .services{
    margin-top:30px;
  }
  .padder{
    padding-left: 40px;
    padding-right: 40px;
  }
  .divider{
    margin-top: 40px;
  }

  .search__input {
  width: 320px;
}
}
